<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Appenders>

        <!-- Console Output -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5p [%c{1}] %m%n"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="FileLogger"
                     fileName="logs/automation.log"
                     filePattern="logs/automation-%d{yyyy-MM-dd-HH-mm-ss}.log.gz">

            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%t] %c{1} - %msg%n"</Pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>

            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>

    <Loggers>
     <!-- Application -->
        
        <Logger name="com.healthcare"  level="info" ><!-- levels All > Trace > Debug > Info > Warn > error > Fatal > Off-->
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>

    </Loggers>

</Configuration>
